<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/style.css" th:href="'/style.css'">
    <!--<link rel="stylesheet" href="/resources/static/style.css" th:href="'/style.css'">-->
</head>

<body>
<h1><img src="transparent_TopDogs2.1_Logo.png" alt="Top Dogs" height="350"></h1>
<h2>Top Hot Dog Eaters</h2>
<div class="row">
    <table>
        <tr>
            <th>Name</th>
            <th>Hotdogs Eaten</th>
            <th>Time</th>
            <th>Hotdogs per minute</th>
        </tr>
        <tr th:each="records : ${record}">
            <td th:text="${records.name}"></td>
        </tr>
    </table>
    <table>
        <tr>
            <th>Name</th>
            <th>Hotdogs Eaten</th>
            <th>Time</th>
            <th>Hotdogs per minute</th>
        </tr>
    </table>
</div>
</body>

</html>